<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <div class="block-panel">
    <p>
      <span>User</span>
      <span id="user" class="label label-default"><%= user.email %></span>
      <a class="pull-right" href="/logout">Logout</a>
    </p>
    <h2 class="block-panel-heading">Room #<%= id %></h2>
    <div class="row message-input">
      <div class="col-lg-12">
        <form id="chatMessageForm" action="" method="" autocomplete="off">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Send</button>
            </span>
            <input type="text" id="chatMessage" class="form-control" placeholder="Write your message">
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body chat-body">
        <div id="process"></div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script>
    function defineClass() {
      var min = 1;
      var max = 6;
      var random = Math.floor(Math.random() * (max - min)) + min;
      switch (random) {
        case 1:
          return 'primary';
        case 2:
          return 'danger';
        case 3:
          return 'success';
        case 4:
          return 'warning';
        case 5:
          return 'info';
        case 6:
          return 'muted';
      }
    }
    var alertClass = defineClass();

    $(function () {
      var socket = io.connect('http://localhost:8100/my-namespace');
      var messageField = $('#chatMessage');

      // Room creation
      socket.on('connect', function () {
        socket.emit('create', '<%- id %>');
      });

      // TODO - перенести изначальное определение юзера на бэкенд
      socket.emit('change_username', { username: $("#user").text() })

      //Emit message
      $('#chatMessageForm').submit(function (ev) {
        ev.preventDefault();
        if (messageField.val()) {
          socket.emit('new_message', { message: messageField.val(), className: alertClass })
        }
      });
      //Listen on new_message
      socket.on("new_message", (data) => {
        $('#process').html('');
        messageField.val('');
        $('.chat-body').append("<span class='message'><span class='user text-" + data.className + "'>" + data.username + "</span>: " + data.message + "</span>")
      });


      //Emit typing
      messageField.bind("keypress", () => {
        socket.emit('typing')
      });
      //Listen on typing
      socket.on('typing', (data) => {
        $('#process').html("<p><i>" + data.username + " is typing a message..." + "</i></p>")
      });
    })
  </script>
</body>

</html>